Repository redmindsteam/raqamliavlod-webapi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TemurbekUbaydullayev, @Akhadov, @Maxamadzoidov, @azizsayfullayev, @

.github/CODEOWNERS:

src/ @TemurbekUbaydullayev

src/RaqamliAvlod.Api @Akhadov

src/RaqamliAvlod.DataAccess @Maxamadzoidov

src/RaqamliAvlod.Domain  @Maxamadzoidov

src/RaqamliAvlod.Application @azizsayfullayev

src/RaqamliAvlod.Service @

test/ Aslonboyev

Hello world
  Add.txt
  src/RaqamliAvlod.Service/Class1.cs
Owners: @

ok
  src/RaqamliAvlod.Service/Class1.cs
Owners: @

Add id
  src/RaqamliAvlod.Service/Class1.cs
Owners: @

NimaaaGap
  .github/added.txt
Owners: none

Ad
  src/RaqamliAvlod.Domain/Class1.cs
Owners: @Maxamadzoidov

create
  src/RaqamliAvlod.Domain/Class1.cs
Owners: @Maxamadzoidov

Add id
  src/RaqamliAvlod.Domain/Class1.cs
Owners: @Maxamadzoidov

Changed Service and Created User property
  src/RaqamliAvlod.Service/Class1.cs
  src/RaqamliAvlod.Service/User.cs
Owners: @
